html, body {
    margin: 0;
    padding: 0;
    font-family: 'Racing Sans One', sans-serif;
    color: #ffffff;
    background-color: white;
    height: 100vh;
    width: 100vw;
    scrollbar-width: none; /* Firefox */
}
#hero-container{
    background-color: black;
    height: 75%;
    width: 100%;
}
#hero-divider{
    height: 20%;
    background-color: black;
    clip-path: polygon(
        0% 0%,      /* esquina superior izquierda */
        100% 0%,    /* esquina superior derecha */
        60% 100%,   /* borde derecho descendente */
        40% 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
}
header {
    /* background-color: brown; */
    height: 15%;
    padding: 0 10% 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
#logoYnombre {
    display: flex;
    align-items: center;
    gap: 10px;
}
#logoYnombre img {
    height: 75px;
}
#logoYnombre h1 {
    font-size: 35px;
    margin: 0;
        color: white;
}
.redText {
    color: red;
}
#textoTorre {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}
#textoTorre p {
    font-size: 10px;
    margin: 0 0 20px 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    letter-spacing: 6px;
    color: #8d8d8d;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    margin-right: 40px;
}
nav ul li a {
    text-decoration: none;
    color: #8d8d8d;
    font-size: larger;
}
nav ul li a:hover {
    color: #ff0000;
}
#circulo-ig {
    background-color: #ff0000;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#circulo-ig:hover {
    cursor: pointer;
    background-color: white;
}
#circulo-ig:hover i {
    color: red;
}
#circulo-ig i{
    color: white;
    font-size: 20px;
}
#linksNav {
    display: flex;
    gap: 30px;
}
#hero-divider i{
    font-size: 80px;
    font-weight: bold;

    background: linear-gradient(
    to bottom,
    white 0%,
    #4a4a4a 25%,
    white 50%,
    #4a4a4a 75%,
    white 100%
  );

    background-size: 100% 200%;

    background-clip: text;
    -webkit-background-clip: text;

    color: transparent;

    animation: waveMove 2s linear infinite;
}
@keyframes waveMove {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 0% 100%;
  }
}
#contenedorPrincipal {
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}
#textoPrincipal {
    width: 50%;
    height: 100%;
    overflow-y: hidden;
    /* verticalmente */
    display: flex;
    flex-direction: column;
}
#textoPrincipal h1 {
    font-size: 80px;
    margin: 0;
}
#animacionCoche {
    width: 50%;
}
#fotoAnimacion {
    width: 100%;
    height: auto;

    /* máscara rectangular con borde fade */
    -webkit-mask-image: linear-gradient(to top, transparent 0%, black 10%, black 90%, transparent 100%), 
                        linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
    -webkit-mask-composite: xor;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: cover;

    mask-image: linear-gradient(to top, transparent 0%, black 10%, black 90%, transparent 100%), 
                linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
    mask-composite: intersect;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover;
}
#textoDiferente{
    font-size: 15px;
    margin: 40px 0 10px 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    color: #8d8d8d;
}
#textoPrincipal .descripcion {
    color: white;
    text-align: justify;
    padding-top: 10px;
}
.boldText {
    font-weight: bold;
    font-size: larger;
}
.btnRojo{
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: larger;
    cursor: pointer;
    font-weight: 200;
    font-family: 'Racing Sans One', sans-serif;
    transition: background-color 0.3s, color 0.3s;
    width: fit-content;
}
.btnRojo:hover {
    background-color: white;
    color: red;
}
#textoSucio{
    margin-top: 40%;
}
.linea-verticalEspuma {
    width: 50%;
    background-color: none;
    height: 80%;
    flex-shrink: 0;
    border-right: 2px solid #ff0000;
    border-right-style: dashed;
    position: relative;
}
.linea-verticalEnjuague{
    width: 50%;
    background-color: none;
    height: 80%;
    flex-shrink: 0;
    border-right: 2px solid #ff0000;
    border-right-style: dashed;
    position: relative;
}
.linea-verticalSecadoEncerado{
    width: 50%;
    background-color: none;
    height: 80%;
    flex-shrink: 0;
    border-right: 2px solid #ff0000;
    border-right-style: dashed;
    position: relative;
}
.linea-verticalFinal{
    width: 50%;
    background-color: none;
    height: 80%;
    flex-shrink: 0;
    border-right: 2px solid #ff0000;
    border-right-style: dashed;
    position: relative;
}
.circuloArriba {
    position: absolute; /* posición absoluta respecto al contenedor */
    top: -10px;          /* distancia desde la parte superior */
    right: -10px;        /* distancia desde la derecha */
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%; /* hace que sea un círculo */
}
.circuloAbajo {
    position: absolute; /* posición absoluta respecto al contenedor */
    bottom: -10px;          /* distancia desde la parte superior */
    right: -10px;        /* distancia desde la derecha */
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%; /* hace que sea un círculo */
}
/* #textoEspuma{
    margin-top: 80%;
} */
/* #textoEnjuague{
    margin-top: 40%;
}
#textoSecadoEncerado{
    margin-top: 100%;
}
#textoFinal{
    margin-top: 40%;
} */
#textoPrincipal h2 {
    font-size: 60px;
    margin-bottom: 0;
}
#textoPrincipal h3 {
    font-size: 20px;
    font-weight: 200;
    margin-top: 5px;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    color: #8d8d8d;
}
#textoPrincipal .ultimo {
    margin-bottom: 200px;
}
#seccionServicios {
    color: black;
    width:fit-content;
    margin: 5% 15% 0 15%;
    padding: 0 15px 0 15px;
    position: relative;
    z-index: 1;
}
#seccionServicios::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  background: red;
  transform: translateX(-50%);
  z-index: -10;
}
#seccionServicios h1 {
    font-size: 50px;
    margin: auto;
    text-align: center;
    border-bottom: 2px solid red;
    width: fit-content;
    background-color: white;
}
#dividerCarSiluette {
    width: 100%;
    height: auto;
    margin-bottom: 0;
}
#seccionPrecios {
    width: 100%;
    height: 200px;
    background-color: black;
    flex-shrink: 0;
    position: relative;
    top: -10px;
}
#seccionPrecios h1 {
    margin: 0;
}
#seccionGaleria {
    width: 100%;
    height: 200px;
    background-color: #000000;
    flex-shrink: 0;
    position: relative;
    top: -10px;
}
#seccionGaleria h1 {
    margin: 0;
}
#seccionContacto{
    width: 100%;
    height: 200px;
    background-color: #ff0000;
    flex-shrink: 0;
    position: relative;
    top: -10px;
    border-top: white 15px solid;
    border-top-style: double;
    border-bottom: white 15px solid;
    border-bottom-style: double;
}
#seccionContacto h1 {
    margin: 0;
}
#serviciosContainer h3{
    color: red;
    font-size: 40px;
    margin: 0;
    font-weight: 200;
}
#serviciosContainer img{
    border-radius: 30px;
    width: 500px;
}
#servicioExterior {
    display: flex;
    flex-direction: row;
    align-items: left;
    gap: 20px;
}
#servicioInterior {
    display: flex;
    flex-direction: row;
    align-items: left;
    gap: 20px;
    margin-left: auto;
}
#servicioDetailing {
    display: flex;
    flex-direction: row;
    align-items: left;
    gap: 20px;
}
.verticalContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.servicio {
    background-color: #dedede;
    width: 75%;
    padding: 10px;
    box-sizing: border-box;
    margin: 30px 0 30px 0;
    border-radius: 30px;
    z-index: 1;
}
.servicio p{
    color: black;
    font-size: 25px;
    text-align: justify;
    margin: 20px;
    vertical-align: middle;
    display: flex;
    align-items: center;
}
.servicio img{
  transition: opacity 1s ease;
}

/* Responsive */
@media (max-width: 1440px) {
    #textoPrincipal h1 {
        font-size: 60px;
    }
    #textoPrincipal h2 {
        font-size: 40px;
    }
    #seccionServicios h1 {
        font-size: 40px;
    }
    #serviciosContainer h3{
        font-size: 30px;
    }
    .servicio p{
        font-size: 15px;
    }
    #serviciosContainer img{
        width: 300px;
    }
}
@media (max-width: 1050px) {
    #linksNav {
        display: none;
    }
    header {
        justify-content:center;
    }
    .servicio {
        width: 100%;
        border-radius: 15px;
    }
    #serviciosContainer img{
        width: 200px;
        border-radius: 15px;
    }
    #serviciosContainer h3{
        font-size: 20px;
    }
}
@media (max-width: 845px) {
    #textoPrincipal h1 {
        font-size: 40px;
    }
    #textoPrincipal h2 {
        font-size: 20px;
    }
    #textoPrincipal h3 {
        font-size: 15px;
    }
    #servicioInterior p {
    order: 2; /* ahora aparece después */
    }
    #servicioInterior .verticalContent {
        order: 1; /* ahora aparece primero */
    }
    .servicio{
        flex-direction: column !important;
        align-items: center !important;
    }
        #serviciosContainer img{
        width: 300px;
    }
}
@media (max-width: 600px) {
    #contenedorPrincipal{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    #textoPrincipal {
        width: 100%;
        text-align: center;
        height: 65%;
    }
    #textoPrincipal h1{
        font-size: 35px;
    }
    #animacionCoche {
        width: 100%;
        height: 35%;
    }
    #hero-container {
        height: 85%;
    }
    #hero-divider {
        height: 10%;
    }
    #hero-divider{
        clip-path: polygon(
            0% 0%,      /* esquina superior izquierda */
            100% 0%,    /* esquina superior derecha */
            85% 100%,   /* borde derecho descendente */
            15% 100%
        );
    }
    #hero-divider i{
        font-size: 50px;
    }
    #logoYnombre h1 {
        font-size: 25px;
    }
    #logoYnombre img {
        height: 50px;
    }
    #textoTorre p {
        font-size: 5px;
    }
    #textoDiferente {
        font-size: 12px;
        margin: 20px 0 10px 0;
    }
    #seccionServicios h1 {
        font-size: 25px;
    }
    #seccionServicios {
        margin: 15% 5% 0 5%;
    }
}
